@import "../../scss/mixin";
@import "../../scss/var";

.image-slider-container {
  display: flex;
  position: relative;

  .image-slider-back-button, .image-slider-forward-button {
    position: absolute;
    z-index: 2;
    color: $primary-color;
  }

  .image-slider-back-button {
    top: 400px;
  }

  .image-slider-forward-button {
    right: 0;
    top: 400px;
  }

  .image-slide-display {
    width: 100%;
    z-index: 1;
  }
  
  .image-fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }

  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
}