@import "../../scss/var";
@import "../../scss/mixin";

.custom-icon-tiny {
  font-size: 10px;  
}

.custom-icon-mini {
  font-size: 16px;
}

.custom-icon-small {
  font-size: 26px;
}

.custom-icon-medium {
  font-size: 36px;
}

.custom-icon-large {
  font-size: 46px;
}

.custom-icon-x-large {
  font-size: 70px;
}