@import "../../scss/var";
@import "../../scss/mixin";

.custom-icon-tiny {
  width: 10px;  
}

.custom-icon-mini {
  width: 16px;
}

.custom-icon-small {
  width: 26px;
}

.custom-icon-medium {
  width: 36px;
}

.custom-icon-large {
  width: 46px;
}

.custom-icon-x-large {
  width: 70px;
}