@import "../../scss/mixin";
@import "../../scss/var";

.homepage-container {
  @include flex-column;

  .homepage-welcome-container {
    @include flex-justify-between;

    .homepage-welcome-intro-container {
      @include flex-column;
      padding: 100px;

      .homepage-welcome-to {
        margin: 0;
        font-size: 40px;
        font-weight: 500;
      }
  
      .homepage-paradise-world-kangra {
        display: flex;
        font-size: 25px;
        padding-bottom: 3rem;

        .homepage-welcome-intro-paradise-text {
          color: $green-shade-1;
          margin: 0;
        }

        .homepage-welcome-intro-world-kangra {
          padding-left: 8px;
          margin: 0;
        }
      }

      .homepage-your-ultimate-beauty {
        font-size: 20px;
      }

      .homepage-nestled-in-the-serene {
        width: 50%;
      }

      .homepage-explore-more-button {
        width: 300px;
        font-size: 25px;
        padding: 1rem;
        margin-top: 3rem;
      }
    }

    .homepage-welcome-image-container {
      position: relative;
  
      .homepage-welcome-award-image{
        position: absolute;
        left: -200px;
        top: 160px;
        // filter: ;
      }
      .homepage-welcome-image-background {
        background: $green-gradient;
        width: 500px;
        height: 800px;
        margin-top: -75px;
        border-bottom-left-radius: 100px;
      }
    }
  }

  .homepage-featuring-container {
    background: $green-gradient;
    padding-top: 1rem;
    margin-top: 10rem;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;

    .homepage-featuring-title-container {
      @include flex-align-center;
      flex-direction: column;
      font-size: 25px;
      padding-bottom: 3rem;

      .homepage-featuring-title {
        font-weight: 400;
        margin: 0;
      }
    }
  }


  .homepage-why-choose-paradise-container {
    padding: 4rem 0;

    .homepage-why-choose-paradise-title-container {
      @include flex-align-center;
      justify-content: center;
      font-size: 40px;

      .homepage-why-choose-text {
        padding-right: 8px;
      }
    }

    .homepage-paradise-feature-container {
      @include flex-justify-around;
      align-items: center;
      padding: 3rem;

      .homepage-paradise-feature-cards-container {
        @include flex-column;
        width: 40%;

        .homepage-feature-card-container {
          @include flex-column;
          border-radius: 8px;
          box-shadow: 0 0 6px $green-shade-1;
          padding: 1rem;
          margin-bottom: 1rem;

          .homepage-feature-card-title-container {
            @include flex-align-center;

            .homepage-feature-card-title {
              padding-left: 1rem;
              font-size: 22px;
              padding-bottom: 8px;
            }
          }
        }
      }
    }
  }

  .homepage-our-testimonials-container {
    padding-bottom: 2rem;
    
    .homepage-our-testimonials-svg {
      padding: 0 2rem;
    }

    .homepage-reviewes-card-container {
      display: flex;
      flex-direction: row;
      padding: 3rem;
      overflow-x: auto;
      
      &::-webkit-scrollbar {
        display: none;
      }
    }
  }
}