@import "../../scss/mixin";
@import "../../scss/var";

.homepage-container {
  @include flex-column;

  .homepage-welcome-container {
    @include flex-justify-between;

    .homepage-welcome-intro-container {
      @include flex-column;

      .homepage-welcome-to {
        margin: 0;
      }
  
      .homepage-paradise-world-kangra {
        display: flex;

        .homepage-welcome-intro-paradise-text {
          color: $green-shade-1;
          margin: 0;
        }

        .homepage-welcome-intro-world-kangra {
          padding-left: 8px;
          margin: 0;
        }
      }
    }
  }
}