@import "../../scss/mixin";
@import "../../scss/var";

.homepage-container {
  @include flex-column;

  .homepage-welcome-container {
    @include flex-justify-between;

    .homepage-welcome-intro-container {
      @include flex-column;
      padding: 100px;

      .homepage-welcome-to {
        margin: 0;
        font-size: 40px;
        font-weight: 500;
      }
  
      .homepage-paradise-world-kangra {
        display: flex;
        font-size: 25px;
        padding-bottom: 3rem;

        .homepage-welcome-intro-paradise-text {
          color: $green-shade-1;
          margin: 0;
        }

        .homepage-welcome-intro-world-kangra {
          padding-left: 8px;
          margin: 0;
        }
      }

      .homepage-your-ultimate-beauty {
        font-size: 20px;
      }

      .homepage-nestled-in-the-serene {
        width: 50%;
      }

      .homepage-explore-more-button {
        width: 300px;
        font-size: 25px;
        padding: 1rem;
        margin-top: 3rem;
      }
    }
  }

  .homepage-welcome-image-container {
    position: relative;

    .homepage-welcome-award-image{
      position: absolute;
      left: -200px;
      top: 160px;
    }
    .homepage-welcome-image-background {
      background: $green-gradient;
      width: 500px;
      height: 800px;
      margin-top: -75px;
      border-bottom-left-radius: 100px;
    }
  }
}