@import "../../scss/var";
@import "../../scss/mixin";

.footer-container {
  @include flex-column;
  margin: 8px;
  padding: 1rem;
  box-shadow: 0 0 6px $green-shade-2;
  border-radius: 8px;

  .footer-title-container {
    @include flex-justify-between;

    .footer-company-title-text, .footer-follow-us-text {
      font-size: 25px;
    }
  }

  .footer-quick-links-container {
    @include flex-justify-between;
    
    .footer-quick-link-area {
      @include flex-column;

      .footer-quick-link-title {
        font-weight: bolder;
        font-size: 25px;
      }

      .footer-quick-links {
        display: flex;

        .footer-quick-link-text {
          padding-right: 1rem;
          cursor: pointer;

          &:hover {
            color: $green-shade-1;
          }
        }
      }
    }

    .footer-follow-us-links-container {
      display: flex;

      .footer-follow-us-links {
        margin-left: 1rem;
      }
    }
  }

  .footer-contact-us-text {
    font-size: 25px;
    padding-top: 1rem;
  }

  .footer-contact-details-container {
    @include flex-justify-between;

    .footer-client-details-container {
      .footer-client-detail {
        display: flex;
        padding-top: 1px;

        .footer-client-contact-text {
          text-decoration: none;
          color: $default-color;

          &:hover {
            color: $green-shade-2;
          }
        }

        .footer-client-contact-icon {
          margin-right: 1rem;
        }

        &:hover {
          color: $green-shade-2;
        }
      }
    }
  }
}