@import "../../scss/var";
@import "../../scss/mixin";

.footer-container {
  @include flex-column;
  margin: 8px;
  padding: 1rem;
  box-shadow: 0 0 6px $green-shade-2;
  border-radius: 8px;

  .footer-title-container {
    @include flex-justify-between;

    .footer-company-title-text, .footer-follow-us-text {
      font-size: 25px;
    }
  }

  .footer-quick-links-container {
    @include flex-justify-between;
    
    .footer-quick-link-area {
      @include flex-column;

      .footer-quick-link-title {
        font-weight: bolder;
        font-size: 25px;
      }

      .footer-quick-links {
        display: flex;

        .footer-quick-link-text {
          padding-right: 1rem;
          cursor: pointer;

          &:hover {
            color: $green-shade-1;
          }
        }
      }
    }

    .footer-follow-us-links-container {
      display: flex;

      .footer-follow-us-links {
        margin-left: 1rem;
      }
    }
  }

  .footer-contact-us-text {
    font-size: 25px;
    padding-top: 1rem;
  }

  .footer-contact-details-container {
    @include flex-justify-between;

    .footer-client-details-container {
      .footer-client-detail {
        @include flex-align-center;
        padding-top: 1px;

        .footer-client-contact-text {
          text-decoration: none;
          color: $default-color;

          &:hover {
            color: $green-shade-2;
          }
        }

        .footer-client-contact-icon {
          margin-right: 1rem;
        }

        &:hover {
          color: $green-shade-2;
        }
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .footer-container {
  
    .footer-title-container {
      
      .footer-company-title-text, .footer-follow-us-text {
        font-size: 20px;
      }
    }
  
    .footer-quick-links-container {

      .footer-quick-link-area {
      
        .footer-quick-link-title {
          font-weight: bolder;
          font-size: 20px;
        }
  
        .footer-quick-links {
          flex-wrap: wrap;
  
          .footer-quick-link-text {
            font-size: 12px;
          }
        }
      }
  
      .footer-follow-us-links-container {
        display: flex;
  
        .footer-follow-us-links {
          margin-left: 1rem;
          width: 25px;
        }
      }
    }
  
    .footer-contact-us-text {
      font-size: 20px;
      padding-top: 1rem;
    }
  
    .footer-contact-details-container {
  
      .footer-client-details-container {
        .footer-client-detail {
          
          .footer-client-contact-text {
            font-size: 14px;
          }
  
          // .footer-client-contact-icon {
            
          // }
        }
      }
    }
  }
}