@import "../../scss/mixin";
@import "../../scss/var";

.home-container {
  @include flex-column;
  width: 100%;
  height: 100%;
  // overflow: hidden;

  .outlet-container {
    position: relative;
  }
}