@import "../../scss/mixin";
@import "../../scss/var";

.menubar-container {
  .menubar-links {
    text-decoration: none;
    color: $default-color;
    padding: 0 1rem;

    &:hover {
      color: $green-shade-1;
    }
  }
}

.menubar-container-mobile {
  display: none;
}

@media only screen and (max-width: 1000px) {

  .menubar-container {
    display: none
  }

  .menubar-container-mobile {
    @include flex-column;
    position: absolute;
    top: 0;
    right: 9px;
    border-radius: 8px;
    box-shadow: 0 0 4px $green-color;
    background-color: $primary-color;

    .menubar-links {
      padding: 8px 1rem;
    }
  }
}