
$primary-color: #fff;
$default-color: #000;

$green-color: #00FF55;
$green-shade-1: #009933;
$green-shade-2: #6FEDB2;

$green-gradient: linear-gradient(180deg, #AFEBF4 0%, rgba(0, 153, 51, 0.28) 100%);

$yellow-color: #FFDD00;